.navbar{
    display: flex;
    align-items: center;
  
   
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;

    
    
     position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}

.options{
 
    z-index: 8;
   
    
    background-color: white;
    width: 100%;
   
 
  z-index: 9;
  background: #fff;

}

 img{
    display:flex;
    height: 11%;
    width: 11%;
    padding: 10px;
    padding-left: 60px;
}

input{
    display: flex;
    margin-top:20px;
    width: 500px;
    height: 40px;   
   border-radius: 5px;
   margin-right: 30%;
   border-style: 1px solid;
   margin-left: 40px;
   margin-bottom: 10px;
}

ul{
    display: flex;
    align-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 20px;
}

ul .breaker{
    height: 40px;
    width: 2px;
    background-color: #d7d4db;
}
.options ul li{
    display: flex;
   

}
.imagebarq {
  width: 100%;
  display: flex;
  justify-content: center;  
  position: relative;
  top:-18px;
  right: 25px;
  z-index: 3;

}

.imagebarq img {
  width: 100%;               
  height: auto;
  display: block;
        
}
.quot{
    position: absolute;
    z-index: 3;
    top: 50;
    left: 50;
    
    
}

.specials{
    display: flex;
    width: 100%;
    border-color: 1px solid;
    justify-content: center;
    background-color: #fff0f5;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: -28px;
    
}
.specials .lightpink {
    display: flex;
    background-color: white;
    padding-left: 700px;
    padding-right: 700px;
    position: relative;
    border-radius: 10px;
    

}

.specials .lightpink ul{
    display: flex;
   /* border-color: pink;
    border-width: 1px;
    border-style: solid;*/
}
.specials .lightpink ul .divider{
    height: 25px;
    width: 1px;
    border:none;
    background-color: #c4a3ae;
}

.mage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mage img {
    height: 135px;
    width: 135px;
    justify-content: center;
    align-items: center;
}

.diwali img {
    width: 100%;
    height: auto;
    position: absolute;
    right: 8px;
}
